################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ApiParanaBanco/.vs/ApiParanaBanco/FileContentIndex
/ApiParanaBanco/ApiParanaBanco/obj/Debug/net6.0
/ApiParanaBanco/ApiParanaBanco/obj
/ApiParanaBanco/.vs/ApiParanaBanco/v17
/ApiParanaBanco/.vs/ProjectEvaluation
/ApiParanaBanco/.vs/ApiParanaBanco/DesignTimeBuild
/ApiParanaBanco/ApiParanaBanco/bin/Debug/net6.0
/ApiParanaBanco/.vs/ApiParanaBanco/config
/ApiParanaBanco/TestesUnitariosApiParanaBanco/bin/Debug/net6.0
/ApiParanaBanco/TestesUnitariosApiParanaBanco/obj/Debug/net6.0
/ApiParanaBanco/TestesUnitariosApiParanaBanco/obj
/ApiParanaBanco/TestesUnitariosApiParanaBanco/bin/Release/net6.0
/ApiParanaBanco/ApiParanaBanco/.config
/ApiParanaBanco/ApiParanaBanco/bin/Release/net6.0
